.genres-page {
    padding: 20px;
  }
  
  .genres-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .genre-container {
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;;
    height: 600px;
  }
  
  .genre-container:hover {
    transform: scale(1.05);
  }


  .genre-title {
    font-size: 2em;
    margin: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 30px;
    border-radius: 5px;
  }
  

  @media (min-width: 768px) {
    .genres-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .genres-list {
      grid-template-columns: 1fr;
    }
  }
  